jupyter-book
jupyterlab
jupytext
jupyterlab_myst
jupyterlab-code-formatter
black
isort
requests
altair
pandas
python-dotenv
requests-cache
sphinx-tippy
jupyterlab-code-snippets
wordcloud
html2text
sphinxcontrib-mermaid
